@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  list-style: none;
  padding: 0;
  font-family: "OpenSans-Regular";
  text-decoration: none;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0;
  width: 100%;
}
header a {
  color: #fff;
}
header .logo {
  width: 50px;
}
header .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header.active .phone_btn {
  transform: rotate(-45deg);
}
header.active .phone_btn span:nth-child(3) {
  width: 0;
}
header.active .phone_btn span:nth-child(2) {
  margin: 0 auto;
  transform: rotate(90deg);
  top: -1px;
}
header .phone_btn {
  width: 40px;
  cursor: pointer;
  display: none;
  transform-origin: center;
  transition: 0.4s;
}
header .phone_btn span {
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  transition: 0.4s;
  background: #fff;
}
header .phone_btn span:nth-child(2) {
  margin: 10px 0;
}

@media (max-width: 992px) {
  header {
    background: #000;
  }
  header .phone_btn {
    display: block;
  }
  header nav {
    position: fixed;
    overflow: auto;
    right: -101%;
    border-top: 1px solid silver;
    top: 70px;
    transition: 0.4s;
    width: 100%;
    max-width: 350px;
    z-index: 5;
    background: #000;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 70px);
    padding: 15px;
  }
  header nav a {
    margin-bottom: 10px;
  }
  header.active nav {
    right: 0;
  }
}

.line {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.line .col {
  height: 100px;
  width: 30%;
  min-width: 200px;
  background: #000;
  margin: 2px;
}

@media (max-width: 992px) {
  .line .col {
    width: 100%;
    background: red;
  }
  .line {
    display: block;
  }
}
@media (max-width: 850px) {
  .line .col:nth-child(2) {
    width: 100%;
    background: blue;
  }
}
@media (max-width: 800px) {
  .line .col:nth-child(2) {
    background: blue;
    width: 50%;
    margin: 5px auto;
  }
}
@media (max-width: 320px) {
  .line .col:nth-child(2) {
    width: 100%;
    background: gold;
    margin: 5px auto;
  }
}

.banner {
  width: 100%;
  display: block;
  margin: auto;
  min-height: 500px;
  border: 1px solid red;
  background: url("https://scx2.b-cdn.net/gfx/news/hires/2019/2-nature.jpg")
    no-repeat center;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.banner h1 {
  font-size: 60px;
}
.banner p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 40px;
  }
  .banner p {
    font-size: 16px;
  }
}
